  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% block page_header %}{% endblock page_header %}
        <small>{% block page_subheader %}{% endblock page_subheader %}</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      {% block main %}
        
      {% endblock main %}
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->