<!-- Main Header -->
{% load static %}

<header class="main-header">


  <!-- Logo -->
  <a href="{% url 'tables:index' %}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>О</b>С</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Онлайн</b>Склад</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        {% if user.is_authenticated %}
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{% static 'tables/img/avt-default.jpg' %}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{request.user.username}} <i class="fa fa-caret-down"></i></span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="{% static 'tables/img/avt-default.jpg' %}" class="img-circle" alt="User Image">

                <p>
                  {{request.user.username}}
                </p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{% url 'accounts:profile-edit' user.pk %}" class="btn btn-default btn-flat">Профиль</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Выход</a>
                </div>
              </li>
            </ul>
          </li>
        {% else %}
          <li><a href="{% url 'accounts:signup'%}"><i class="fa fa-user-plus"></i> Регистрация</a></li>
          <li><a href="{% url 'login'%}"><i class="fa fa-sign-in"></i> Вход</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>