.alert {
  opacity: 0.8; }
  .alert a.close {
    text-decoration: none !important;
    color: white;
    opacity: 0.8; }

.label-dark {
  background-color: #4d5b61;
  color: #e0e2e6; }

.orders.active > a {
  border-left-color: #1e282c !important; }

form .form-buttons {
  padding-top: 10px; }

.dataTable-box .box-title {
  margin-right: 10px; }

.dataTable thead tr .row-select {
  padding: 9px;
  width: 15px !important; }
.dataTable thead tr .row-actions {
  width: 115px !important;
  padding-right: 0px; }
.dataTable tbody tr td:nth-child(2) {
  min-width: 115px;
  max-width: 115px; }
  .dataTable tbody tr td:nth-child(2) a {
    display: inline-block;
    margin-right: 5px; }

.warehouses-page .js-warehouse-create {
  text-align: center;
  transition: 0.2s;
  border: 2px dashed #777;
  color: #565656;
  border-radius: 3px;
  height: 257px;
  margin-bottom: 15px; }
  .warehouses-page .js-warehouse-create i {
    padding: 35px 0;
    font-size: 85px; }
  .warehouses-page .js-warehouse-create div {
    font-size: 25px;
    padding: 10px 0 15px;
    text-transform: uppercase; }
  .warehouses-page .js-warehouse-create:hover {
    cursor: pointer;
    color: #5cb85c;
    border: 2px dashed #5cb85c; }
.warehouses-page .warehouse {
  height: 257px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  margin-bottom: 28px; }
  .warehouses-page .warehouse .icon {
    text-align: center; }
    .warehouses-page .warehouse .icon i {
      font-size: 100px;
      color: #c18a41; }
  .warehouses-page .warehouse .address {
    text-align: center;
    font-size: 17px; }

.orders-page #orders-table thead .row-urgency {
  width: 70px !important; }
.orders-page #orders-table thead .row-created-at {
  width: 105px !important; }
.orders-page #orders-table thead .row-confirmation {
  width: 35px !important; }
.orders-page #orders-table thead .row-status {
  width: 50px !important; }
.orders-page #orders-table tbody tr.urgently {
  background-color: #ffe2e2; }
  .orders-page #orders-table tbody tr.urgently:hover {
    background-color: #f9cccc; }
.orders-page #orders-table tbody tr.usually {
  background-color: #c4ffc4; }

.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto; }

.main-sidebar .sidebar .add-new-company, .main-sidebar .sidebar .add-new-order {
  background-color: #3c8dbc; }
  .main-sidebar .sidebar .add-new-company a, .main-sidebar .sidebar .add-new-order a {
    color: white;
    border-left: none;
    text-transform: uppercase;
    font-weight: bold; }
  .main-sidebar .sidebar .add-new-company:hover > a, .main-sidebar .sidebar .add-new-order:hover > a {
    background-color: #3c8dbc;
    background-color: #367da7;
    border-left: none; }

.form-group.required label:after {
  content: " *";
  color: red; }

.order-create-page .order-form fieldset, .order-edit-page .order-form fieldset {
  border: 1px solid #9e9e9e;
  padding: 10px 15px;
  margin-bottom: 10px; }
  .order-create-page .order-form fieldset.state .confirmations, .order-edit-page .order-form fieldset.state .confirmations {
    margin-top: 10px; }
  .order-create-page .order-form fieldset.state label span, .order-edit-page .order-form fieldset.state label span {
    display: inline-block;
    padding-top: 10px;
    padding-left: 4px; }
  .order-create-page .order-form fieldset .delete-button, .order-edit-page .order-form fieldset .delete-button {
    margin-top: 31px; }
  .order-create-page .order-form fieldset legend, .order-edit-page .order-form fieldset legend {
    display: inline;
    width: auto;
    margin: 0;
    padding: 0 5px;
    border: 0px; }
  .order-create-page .order-form fieldset .form-group, .order-edit-page .order-form fieldset .form-group {
    margin-bottom: 10px; }
.order-create-page .orders-list > li > span, .order-edit-page .orders-list > li > span {
  font-weight: bold; }
  .order-create-page .orders-list > li > span.urgently, .order-edit-page .orders-list > li > span.urgently {
    color: red; }
  .order-create-page .orders-list > li > span.usually, .order-edit-page .orders-list > li > span.usually {
    color: green; }

.navbar-nav > .user-menu .user-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -6px;
  border: 2px solid #047340; }

/*# sourceMappingURL=style.css.map */
