{% extends "tables/base.html" %}

{% block title %}Сотрудники компании "{{company.name}}"{% endblock title %}

{% block page_header %}Сотрудники{% endblock page_header %}
{% block page_subheader %}"{{company.name}}"{% endblock page_subheader %}

{% block main %}
    <div class="employees-page">
        <div class="container-fluid">
            
                <div class="row">
                    <div class="col-lg-3">
                        <div class="js-employee-create" data-url="{% url 'tables:employee-create' company.pk %}">
                            <div class="icon">
                                <i class="fa fa-user-plus"></i>
                            </div>
                            <div class="text">
                                Добавить сотрудника
                            </div>
                        </div>
                    </div>
                    <div class="employees-list">
                        {% include "tables/company/employee/employees_list.html" %}
                    </div>
                </div>
                
            
        </div>
    </div>
    <div class="modal fade" id="modal-employee" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
            </div>
        </div>
    </div>

{% endblock main %}

{% block custom_js %}
<script>
    $(function(){

      // Functions //

      var loadForm = function() {
        var btn = $(this);
        console.log(btn.attr('data-url'))
        $.ajax({
          url: btn.attr('data-url'),
          type: 'get',
          dataType: 'json',
          beforeSend: function(){
            $('#modal-employee').modal('show');
          },
          success: function(data) {
            $('#modal-employee .modal-content').html(data.html_form)
          }
        });
      };

      var saveForm = function(){
        var form = $(this);
        $.ajax({
          url: form.attr('action'),
          data: form.serialize(),
          type: form.attr('method'),
          dataType: 'json',
          success: function(data) {
            if (data.form_is_valid) {
              $('.employees-list').html(data.employees_list);
              $('.employees-counter').html(data.employees_list_count);
              $('#modal-employee').modal('hide');
            }
            else {
              $('#modal-employee .modal-content').html(data.html_form)
            }
          }
        });
        return false;
      };

      // Binding //

      //Create product
      $('.js-employee-create').click(loadForm);
      $('#modal-employee').on('submit', '.js-employee-create-form', saveForm);

      //Edit product
      $('.employees-list').on('click', '.js-employee-edit', loadForm);
      $('#modal-employee').on('submit', '.js-employee-edit-form', saveForm);

      //Delete product
      $('.employees-list').on('click', '.js-employee-delete', loadForm);
      $('#modal-employee').on('submit', '.js-employee-delete-form', saveForm);

    });
</script>
{% endblock custom_js %}