.alert {
    opacity: 0.8;

    a.close {
        text-decoration: none !important;
        color: white;
        opacity: 0.8;
    }
}

#products-table {
    .js-edit-product {
        margin-right: 10px;
    }
}

.warehouses-page {
    .js-warehouse-create {
        text-align: center;
        transition: 0.2s;
        border:2px dashed #777;
        color: #565656;
        border-radius: 3px;
        height: 243px;
        i {
            padding: 15px 0;
            font-size: 85px;
        }
        div {
            font-size: 25px;
            padding: 10px 0 15px;
            text-transform: uppercase;
        }
        &:hover {
            cursor: pointer;
            color: #5cb85c;
            border:2px dashed #5cb85c;
        }
    }
    .warehouse {
        height: 243px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1) !important;
        .icon {
            text-align: center;
            i {
                font-size: 100px;
                color: #c18a41;
            }
        }
        .address {
            text-align: center;
            font-size: 17px;
        }
    }
}

.employees-page {
    .js-employee-create {
        border:2px dashed #777;
        color: #565656;
        text-align: center;
        height: 220px;
        .icon i {
            font-size: 85px;
            padding: 15px 0;
        }
        .text {
            font-size: 22px;
            padding: 10px 0 15px;
            text-transform: uppercase;
        }
        &:hover {
            cursor: pointer;
            color: #5cb85c;
            border:2px dashed #5cb85c;
        }
    }
    .employee {
        height: 220px;
        .icon i {
            font-size: 70px;
        }
        .box-body {
            min-height: 160px;
            .info {
                .name {
                    font-size: 18px;
                    span {
                        color: #777;
                        font-size: 16px;
                        font-style: italic;
                    }
                    
                }
                .email {
                    i {
                        color: #8a8a8a;
                    }
                    font-size: 15px;
                }
            }
        }
    }
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.js-create-product {
    margin-left: 10px;
}

.main-sidebar {
    .sidebar {
        .add-new-company {
            background-color: #3c8dbc;
            a {
                color: white;
            }
            &:hover>a {
                background-color: #3c8dbc;
                border-left-color:#255e80;
            }
            
        }
    }
}

.form-group.required label:after { 
   content:" *";
   color:red;
}

.navbar-nav>.user-menu .user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -6px;
    border: 2px solid #047340;
}