{% extends "tables/partials/datatable.html" %}

{% block title %} Клиенты {% endblock title %}

{% block page_header %} Клиенты {% endblock page_header %}

{% block page_subheader %} "{{company.name}}" {% endblock page_subheader %}

{% block create_url %}{% url 'tables:client-create' company.pk %}{% endblock create_url %}

{% block multiple_delete_url %}{% url 'tables:clients-delete' company.pk %}{% endblock multiple_delete_url %}

{% block multiple_delete_form %} {% include "tables/client/clients_delete_form.html" %} {% endblock multiple_delete_form %}

{% block ths %}
    <th>Название фирмы или ФИО клиента</th>
    <th>Номер телефона</th>
    <th>Адрес</th>
    <th>Описание</th>
{% endblock ths %}

{% block custom_js %}
<script>
    $(function(){
      //datable(products-table)
      var table = $('.dataTable').DataTable({
            ajax: '{% url "tables:clients-json" company.pk %}',
            autoWidth: false,
            columns: [
              {
                data: 'pk',
                render: function(data, type, full, meta) {
                  var checkbox = "<input type=\"checkbox\" data-row-id=\"" + data + "\" class=\"row-checkbox\"/>";
                  return checkbox;
                }
              },
              {
                data: 'actions',
                width: '100px',
                render: function(data, type, full, meta){
                  var button_edit ="<a type=\"button\" class=\"btn btn-warning btn-sm js-edit-row\" href=\""+ data.edit +"\"><span class=\"fa fa-pencil\"></span></a>";
                  var button_delete = "";
                  if (data.delete) {
                    button_delete = "<button type=\"button\" class=\"btn btn-danger btn-sm js-delete-row\" data-url=\"" + data.delete +"\"><span class=\"fa fa-trash-o\"></span></button>";
                  }
                  
                  return (button_edit + button_delete);
                }
              },
              {data: 'name'},
              {data: 'telephone_number'},
              {data: 'address'},
              {data: 'description'},
            ],
            order: [],
            columnDefs: [
                {"orderable": false, "targets": [0, 1]},
            ]
      });

      $($('.dataTable-box .box-body .row')[2]).appendTo('.dataTable-box .box-footer');

        //put controls into box header
        // $($('.products-box .box-body .row')[0]).appendTo('.products-box .box-header');
        // Functions //

        var loadForm = function() {
          var btn = $(this);
          $.ajax({
            url: btn.attr('data-url'),
            type: 'get',
            dataType: 'json',
            beforeSend: function(){
              $('#modal-entity').modal('show');
            },
            success: function(data) {
              $('#modal-entity .modal-content').html(data.html_form)
            }
          });
        };

        var saveForm = function(){
          var form = $(this);
          $.ajax({
            url: form.attr('action'),
            data: form.serialize(),
            type: form.attr('method'),
            dataType: 'json',
            success: function(data) {
              if (data.form_is_valid) {
                table.ajax.reload();
                $('#modal-entity').modal('hide');
              }
              else {
                $('#modal-entity .modal-content').html(data.html_form)
              }
            }
          });
          return false;
        };


        //Delete product
        $('.dataTable').on('click', '.js-delete-row', loadForm);
        $('#modal-entity').on('submit', '.js-row-delete-form', saveForm);


        //multiple delete


        $('#select-all-rows').on('change', function(){
          var rows = table.rows({'page': 'current'}).nodes();

          if(this.checked) {
            $('.row-checkbox', rows).prop('checked', true).trigger('change');
          } else {
            $('.row-checkbox', rows).prop('checked', false).trigger('change');
          }

        });


        function get_ids() {
          var rows = table.rows({'page': 'current'}).nodes();
          var result = [];
          $('.row-checkbox', rows).each(function(i, element){
            if (element.checked) {
              result.push($(element).data('row-id'));
            }
          });
          return result;
        }

        function render_delete_button() {
          var delete_button = $('.js-delete-selected');
          if (get_ids().length > 0) {
            delete_button.removeClass('btn-default disabled').addClass('btn-danger');
            
          } else {
            delete_button.removeClass('btn-danger').addClass('btn-default disabled');
            
          }
          $('span', delete_button).text('('+ get_ids().length +')');
        }


        $('.dataTable').on('change', '.row-checkbox', function() {

          render_delete_button();
        })

        $('.js-delete-selected').on('click', function() {
          var btn = $(this);
          if (!btn.hasClass('disabled')) {
            $('#modal-entities-delete').modal('show');
            $('.js-rows-delete-form').on('submit', function(e) {
              var ids = get_ids().join(',');
              $.ajax({
                url: btn.attr('data-url'),
                method: 'post',
                data: {
                  'ids': ids,
                  'csrfmiddlewaretoken': btn.attr('data-csrf'),
                },
                success: function(data) {
                  if (data.form_is_valid) {
                    $('.dataTable').dataTable().fnClearTable();
                    table.ajax.reload();
                    render_delete_button();
                    
                    $('#modal-entities-delete').modal('hide');
                  }
                }
              });
              return false;
            })

          }
        });
    });
</script>
{% endblock custom_js %}