{% extends "tables/base.html" %}

{% block title %}Вход{% endblock title %}

{% block page_header %}Вход{% endblock page_header %}

{% block main %}
    <div class="signin-page">
        <div class="row">
            <div class="col-lg-5">
                <div class="box box-success">
                    <div class="box-body">
                        <form action="." method="post" id="login-form">
                            {% include "tables/partials/messages.html" %}
                            {% include "tables/partials/form_template.html" %}
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            <button class="btn btn-success" type="submit">Вход</button>
                        </form>
                        <div class="links">
                            {# <p>Forgot password <a href="{% url 'password_reset' %}">Reset it</a>!</p> #}
                            <p>Не зарегистрированы? <a href="{% url 'accounts:signup' %}">Регистрация</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}