{% load widget_tweaks %}

<form method="post" action="{% url 'tables:product-create' company.pk warehouse.pk %}" class="js-product-create-form">
        {% csrf_token %}
        {% include "tables/partials/messages.html" %}
        {% include "tables/partials/form_template.html" %}
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="{% url 'tables:products' company.pk warehouse.pk %}" class="btn bg-olive pull-right">
                Перейти к списку товаров "{{warehouse.name}}"
            </a>
        </div>
</form>
