{% extends "tables/base.html" %}

{% block title %}Изменение пароля сотрудника{% endblock title %}

{% block page_header %}Изменение пароля сотрудника "{{ employee.username }}"{% endblock page_header %}
{% block page_subheader %}"{{company.name}}"{% endblock page_subheader %}

{% block main %}
    <div class="employee-create-page">
        <div class="row">
            <div class="col-lg-6">
                <div class="box">
                    <div class="box-body">
                        <form action="{% url 'tables:employee-change-password' company.pk employee.pk %}" method="post">
                            {% include "tables/partials/messages.html" %}
                            {% include "tables/partials/form_template.html" %}
                            {% csrf_token %}
                            <div class="form-buttons">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <a href="{% url 'tables:employees' company.pk %}" class="btn bg-olive pull-right">Перейти к списку сотрудников</a>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock main %}