{% extends "tables/base.html" %}

{% block title %}Добавить сотрудника{% endblock title %}

{% block page_header %}Добавить сотрудника{% endblock page_header %}
{% block page_subheader %}"{{company.name}}"{% endblock page_subheader %}

{% block main %}
    <div class="employee-create-page">
        <div class="row">
            <div class="col-lg-6">
                <div class="box">
                    <div class="box-body">
                        {% include "tables/employee/employee_create_form.html" %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock main %}